<mat-drawer-container class="sidebar-home" autosize>
  <mat-drawer #drawer class="sidebar" mode="side">
    <mat-nav-list>
      @for (task of tasks(); track task.id) {
        <mat-list-item [activated]="task.isActive" (click)="activeTask(task.id); $event.stopPropagation()">
            @if(task.title.length > 40) {
              {{ task.title.substring(0, 40) + "..." }}
            } @else {
              {{ task.title }}
            }
           <button matIconButton matListItemMeta (click)="$event.stopPropagation()">
              <mat-icon>{{ getIconStatus(task.status) }}</mat-icon>
           </button>
        </mat-list-item>
      }
      @if (showFiller) {
        @for (task of tasks(); track task.id) {
          <mat-list-item [activated]="task.isActive" (click)="activeTask(task.id)">
             @if(task.title.length > 40) {
              {{ task.title.substring(0, 40) + "..." }}
            } @else {
              {{ task.title }}
            }
             <button matIconButton matListItemMeta>
                <mat-icon>{{ getIconStatus(task.status) }}</mat-icon>
             </button>
          </mat-list-item>
        }
      }
    </mat-nav-list>
    <button (click)="showFiller = !showFiller" matButton="elevated">
      @if(showFiller){
        <b>- Menos</b>
      } @else {
        <b>+ Mais</b>
      }
    </button>
  </mat-drawer>

  <div class="sidenav-content flex flex-col justify-center items-center h-full">
    <ng-content></ng-content>
    <button mat-stroked-button color="primary" class="mt-2" (click)="drawer.toggle()">
      <mat-icon>@if(!drawer.opened) { visibility } @else { visibility_off }</mat-icon>
      @if(!drawer.opened) { Visualizar } @else { Ocultar } todas
    </button>
  </div>

</mat-drawer-container>
