<mat-toolbar>
  <!-- Logo e Título -->
  <div class="flex gap-3" routerLink="/" style="cursor: pointer;">
    <mat-icon class="brand-icon scale-150">play_circle_outline</mat-icon>
    <h1 class="!text-3xl !font-bold">To-Do-List</h1>
  </div>

  <span class="spacer"></span>

  <!-- Navegação -->
  <nav class="nav-links">
    @for(link of navLinks(); track link.path){
      <a mat-button
       [routerLink]="link.path"
       [queryParams]="link.queryParams || null"
       [class.active]="isActiveRoute(link.path)"
       routerLinkActive="active-link">
      <mat-icon class="nav-icon mb-2" matSuffix>{{link.icon}}</mat-icon>
      {{link.label}}
    </a>
    }
  </nav>
</mat-toolbar>
