<mat-card class="max-w-[60vw]">
  <div class="flex !flex-row p-5 justify-center gap-2">
    <div>
      <mat-card class="card-home" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ taskSelected()?.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ taskSelected()?.description }}</h3>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Chihuahua traits">
            @for(tag of taskSelected()?.tags; track tag) {
            <mat-chip>{{ tag }}</mat-chip>
            }
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Pesquisar tarefas</mat-label>
        <input matInput placeholder="Digite para pesquisar..." [value]="searchTerm()" (input)="onSearchChange($event)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <mat-list role="list" class="h-9/12 !rounded-xl !border-[1px] border-white/50 m-0 !p-2 overflow-y-auto">
        @for(task of filteredTasks(); track task.id) {
        <mat-list-item role="listitem" class="!bg-black !border-[1px] border-white/50 !rounded-xl my-1 m-0"
          (click)="activeTask(task.id)" *ngIf="taskSelected() != task">
          <mat-icon fontSet="material-symbols-outlined" class="pt-1">
            visibility_off
          </mat-icon>
          @if(task.title.length > 20) {
            {{ task.title.substring(0, 20) + "..." }}
          } @else {
            {{ task.title }}
          }
        </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
</mat-card>